.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://wallpaperaccess.com/full/1388086.jpg');

  input {
    margin-bottom: 15px;
  }
}
